*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(123deg, rgba(2,0,36,1) 0%, rgba(50,9,121,1) 28%, rgba(0,212,255,1) 100%);
}
.todo{
    width: 100%;
    max-width: 540px;
    background: #D0B3FF;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #2F0673;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width: 30px;
    margin-left: 10px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #97a4b9;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-weight: 700;
    font-size: larger;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #830ebd;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    font-size: larger;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    top: 12px;
    left: 8px;
    background-position: center;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
position:absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 28px;
color: #555;
line-height: 40px;
text-align: center;
}
ul li span:hover{
    background: #a6a0ad;
    border-radius: 50%;
}